<h1>SMS Boss</h1>

<form action="/" method="POST">
  Phone number:<br>
  <input type="text" name="number">
  <br>
  Message:<br>
  <input type="text" name="message">
  <br><br>
  <input type="submit" value="Submit">
  </form>